{% load static %}

<section class="bg-cover" style="background: url({% static 'img/bg_home.JPG' %}); margin-top: -105px;
background-size: cover;
background-position: center 45%;
min-height: 500px;">
    <!-- <div class="container" style="padding-top: 150px;">
        <div class="row">
            <h1 class="text-mask">Der Vogel fliegt wie er will</h1>
        </div> -->
</section>

<!-- <style>
    .text-mask {
        display: inline-block;
        font-weight: bold;
        background-image: linear-gradient(90deg, #ffffff 0%, #398AD9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 50px;
    }
</style> -->