{% load static %}

<section class="bg-cover" style="background: linear-gradient(90deg, #56A9EB, #4896E0); background-position: center 50%;
min-height: 500px; margin-top: -500px;">
</section>
<section class="bg-cover" style="background: url({% static 'img/bg_home.JPG' %}); margin-top: -105px;
background-size: cover;
background-position: center 45%;
min-height: 500px;"></section>


<!-- <style>
    .text-mask {
        display: inline-block;
        font-weight: bold;
        background-image: linear-gradient(90deg, #ffffff 0%, #398AD9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 50px;
    }
</style> -->