{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KNJR's BLOG</title>
    <meta name="keyword" content="python, プログラミング, 機械学習">
    {% if meta_discription %}
    <meta name="description" content="{{ meta_discription }}">
    {% else %}
    <meta name="description"
        content="新卒のソフトウェアエンジニアがテクノロジーや本、旅行と言った様々なトピックのブログを書いているWebサイトです。普段はpython、C++、Flutterなどでアプリ開発したり、機械学習の勉強をしています。">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.PNG' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlight.css' %}">
    <link rel="stylesheet" href="{% static 'css/github-markdown.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">

</head>