<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <a href="/" class="navbar-brand">KNJR's BLOG</a>
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse"
                    aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span></span><span></span><span></span></button>
            </div>
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {% if not cat_name %}
                    <li class="nav-item"><a href="/" class="nav-link active ">Home</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/" class="nav-link ">Home</a></li>
                    {% endif %}

                    {% if cat_name == 'Technology' %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Technology' %}"
                            class="nav-link active">Tech</a>
                    </li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Technology' %}"
                            class="nav-link">Tech</a>
                    </li>
                    {% endif %}

                    {% if cat_name == 'Book' %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Book' %}"
                            class="nav-link active">Book</a>
                    </li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Book' %}" class="nav-link">Book</a>
                    </li>
                    {% endif %}

                    {% if cat_name == 'Travel' %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Travel' %}"
                            class="nav-link active">Travel</a>
                    </li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'blog:category_search' 'Travel' %}" class="nav-link">Travel</a>
                    </li>
                    {% endif %}

                </ul>
                <!-- <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div> -->
                <!-- <ul class="langs navbar-text">
                    <a href="#" class="active nav-lang">JP</a>
                    <a href="#" class="nav-lang">EN</a>
                </ul> -->
            </div>
        </div>
    </nav>
</header>